/* portfolio section here is hover effect */

main .GIFTS .images6 img{
    transform: scale(1);
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

main .GIFTS .images6 img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transform: scale(1.05);
}
  
  
main .portfolio .images-section img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transform: scale(1.05);
  }
  
  main .subscribe input[type="email"]:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button:focus {
    background-color: rgba(123, 31, 31, 0.837) !important;
  }